* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Rubik", sans-serif !important;
  line-height: 1.2;
  font-weight: 400;
  color: #555 !important;
}
main {
  background-color: #fff3bf;
}
.home-link:link {
  color: black;
  display: inline-block;
  text-decoration: none;
  font-size: 1.8rem;
  border: 0.1rem solid #333;
  border-radius: 0.8rem;
  padding: 0.3rem 0.6;
  margin: 0.5rem 1rem;
}

.contact .contact-us-img .customer-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 3rem;
}
.customer-img {
  height: 20rem;
  width: 20rem;
}
.contact-us {
  font-size: 3.2rem;
}
.contact {
  display: flex;
  width: 90rem;
  margin: 0 auto;
  gap: 2rem;
}

.input-form {
  display: flex;
  flex-direction: column;
}

.input-form-column {
  flex-direction: column;
  margin-top: 5rem !important;
  margin-bottom: 5rem;
}

.name,
.email-address,
.text {
  font-size: 1.8rem;
  color: black;
}
.name-input,
.email-input,
.text-input {
  margin-bottom: 2rem;
}

.full-name,
.email,
.message {
  width: 100%;
  padding: 1.2rem 0.8rem;

  font-size: 1.6rem;
  border-radius: 0.4rem;
  border: none;
}

.submit-button {
  font-size: 1.8rem;
  font-weight: 500;
  padding: 0.8rem 1.2rem;
  border-radius: 10rem;
  background-color: #ffd43b;
  border: none;
}
/* MEDIA QUERIES */
/* FOR DESKTOP */
@media (max-width: 1440px) {
  .contact {
    display: flex !important;
    flex-direction: row !important;
  }
  .customer-img {
    padding: 0;
  }
}
/* FOR SMALL LAPTOP */
@media (max-width: 1024px) {
  .contact {
    width: 80rem;
  }
}

/* FOR TABLETS */
@media (max-width: 768px) {
  .contact {
    display: flex;
    width: 100%;
  }
}

/* FOR SMALL TO MEDIUM MOBILES */
@media (max-width: 425px) {
  .contact {
    display: flex !important;
    flex-direction: column !important;
  }
  .customer-img {
    padding: 0;
  }
}
